{{>layouts/header}}
<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
    </tr>
    </thead>
    <tbody>
    {{#article}}
    <tr>
        <th>{{id}}</th>
        <th>{{title}}</th>
        <th>{{content}}</th>
    </tr>
    {{/article}}
    </tbody>
</table>
<a href="/articles/{{article.id}}/edit">edit</a>
<a href="/articles/{{article.id}}/delete">Delete</a>
<a href="/articles">go Back List</a>

{{>layouts/footer}}